body {
    font-family: Verdana, Arial, 'Arial Narrow', sans-serif
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: inherit;
    /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
        color: #000000;
    }

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    color: #000000;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}