body {
    font-family: Verdana, Arial, 'Arial Narrow', sans-serif
}

* {
    box-sizing: border-box;
}

span.saturation-blue {
    filter: sepia(1) saturate(5) hue-rotate(180deg);
}

span.saturation-pink {
    color: transparent;
    text-shadow: 0 0 0 pink;
}

span.saturation-red {
    color: transparent;
    text-shadow: 0 0 0 red;
}

span.underscript-wrapper {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

span.underscript {
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-size: 10px;
}

.sub-script {
    font-size: 9px;
}

.summary {
    width: 95%;
    font-size: 28px;
    float: left;
}

.summary-expand {
    width: 5%;
    float: right;
}

.summary-expand-text {
    font-size: 32px;
}

.refresh {
    font-size: 42px;
    color: white;
}

.new-count.double-digit {
    padding: 3px 3px 3px 3px;
}

.new-count.single-digit {
    padding: 3px 6px 3px 6px;
}

.new-count {
    background: dodgerblue;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid white;
}

a.refresh.visited
a.refresh.hover
a.refresh.link
a.refresh.active {
    color: white;
    text-decoration: none;
}

.glyphji-logo {
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    color: white;
}

.header-banner {
    background-color: green;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-bottom: none;
}

.header-banner-timestamp {
    font-family: Arial, Calibri;
    font-size: 16px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}

.footer-banner {
    background-color: green;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    float: left;
    width: 100%;
}

.footer-banner-table {
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 100%;
}

hr.ss {
    border: 1px solid green;
    width: 100%;
    float: left;
}

.header-text {
    font-family: Arial, Calibri;
    font-size: 40px;
    color: white;
    font-weight: normal;
}

.article-header {
    font-size: 25px;
}

.hiddenx {
    display: none;
}

.displayed {
    display: block;
}

.link {
    width: 80%;
    font-size: 1vw;
    float: left;
}

.publication {
    width: 15%;
    font-size: 1vw;
    float: left;
}

.publishTime {
    width: 5%;
    font-size: 1vw;
    float: left;
}

@media screen and (max-width: 800px) {
    .link {
        width: 100%;
        font-size: 5vw;
    }

    .publication {
        width: 20%;
        font-size: 3vw;
    }

    .publishTime {
        width: 20%;
        font-size: 3vw;
    }
}